
    <div class="slider2-container">
      <%= image_tag(product.image_url, :class => "slider2-image") %>
      <div class="dimmed-overlay">
        <div class="dimmed-text">
        <%= product.text %><br><br>
        <%= product.artist %><br>
        </div>
      </div>
    </div>