<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="page-content">
    <div class="page-header">
      <h2>About</h2>
        <p> No Shop is an experimental online shop that disarms the function of commerce. As the ability to purchase here is symbolic, the function of the online shop is restricted to displaying and choosing objects. At the No Shop, instead of buying, visitors are asked to 'buy into'.</p>
        <p>The experience of objects in an online shop environment is a familiar, highly structuralised way that we discover and consume images in our everyday lives. This project invites you to reflect on your habits in thinking based on virtual representations. How do you make conclusions about what is on your screen, as you might when judging whether to buy an object on Amazon, a person on Facebook, or learning about an artist through their online portfolio? How are these experiences set up and organised, and how do you buy into them?</p>
        <p> No Shop  repurposes the space of e-commerce as a site of examination - both of the autonomy of spectatorship, and of the architecture of commerce as it relates to art. </p>
      <% cache do %>
      <% sleep 2 %>
      <h2>Works</h2>
        <p>Through the works featured on the site, visitors are invited to consider the ways contemporary and modern artists and designers have dealt with spectatorship and transaction, off and online.</p>
      <% end %>
    </div>
  </div>
</body>
