<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="body">
  	<div class="page-header">
  		<h2>About</h2>
			<p> Not Shop is an experimental online shop that removes the function of commerce. By removing the ability to purchase, the function of the online shop is restricted to displaying objects.</p>
			<p>The experience of objects in an online shop environment is in fact, a familiar way that we discover and consume images. This project invites you to reflect on how we make conclusions about virtual representations. How do you make conclusions about what is represented on your screen, as you might when judging whether to buy an object on Amazon, or learn about something through Google image search? </p>
			<p> Just as we might repurpose everyday spaces, such as homes or industrial spaces, to serve as exhibition sites, could we repurpose online spaces that have become part of our common cultural vocabulary?</p>
	  </div>
