<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="body">
    <div class="page-header">
      <h2>About</h2>
        <p> No Shop is an experimental online shop that removes the function of commerce. By removing the ability to purchase, the function of the online shop is restricted to displaying and choosing objects.</p>
        <p>The experience of objects in an online shop environment is a familiar way that we discover and consume images in our everyday lives. This project invites you to reflect on your habits in thinking based on virtual representations. How do you make conclusions about what is on your screen, as you might when judging whether to buy an object on Amazon, a person on Facebook, or learning about what something looks like through Google image search? </p>
        <p> It is common nowadays to use the architecture of everyday spaces, such as homes or workspaces, to serve as a site for exhibitions. No Shop similarly repurposes the online space of e-commerce, a growing part of our cultural vocabulary. </p>
      <h2>Works</h2>
        <p>Through the works featured on the site, we will be looking at the ways contemporary and modern artists and designers have dealt with the idea of transaction, whether surreptitiously, self referentially, or in critique.</p>
    </div>
