<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="content-container">
    <div class="page-header">
      <h2>Contact</h2>
      <p> My name is Ritz, I'm the developer of this app. Please contact me if there are any problems with my app.</p>
      <p>Visit my portfolio website  <a href="http://ritz-site.bitballoon.com">here.</a></p>
   </div>