<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="body">
  <h1>Welcome to Artist Print Store</h1>
	<h2>Where you can purchase artists prints</h2>
	<%= image_tag("masayoshi_nakajo.jpg", class: "img-responsive my-image") %>
	</div>
  </body>