<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="body">
    	<div class="page-header">
  		<h2>Welcome</h2>
  			<p>An experimental online shop. Learn about the project here.</p>
  		  <div class="object-lineup"><%= image_tag("masayoshi_nakajo.jpg", class: "img-responsive my-image") %>  </div>
      </div>
