<table>
  <tbody>
    <tr>
      <td><h2>Thank you for your payment.</h2></td>
    </tr>
    <tr>
      <td><p><%= @user.first_name %>, thank you for purchasing <%= @product.name %>!</p></td>
      <td><p>We have charged <%= @product.price %> from your credit card.</p></td>
    </tr>
  </tbody>
</table>