<h2 class="page-header-form">Editing Product</h2>

<%= render 'form', product: @product %>

<div class = "box_following_list">
  <button class="btn btn-default"><%= link_to 'Show', @product %> </button> |
  <button class="btn btn-default"><%= link_to 'Back', products_path, method: :get%></button>
</div>
