<body>
  <% cache(cache_key_for_products) do %>
  <section class="regular slider">
    <%= render @products %>
  </section>


  <div class = "box_following_list">
    <button class="btn btn-default"><%= link_to 'Create New Product', new_product_path %></button>
  </div>
  <% end %>

  <!-- insert JS-->

</body>

